*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Cera Pro";
}
body{
    height: 100vh;
    width: 100vw;
}
a{
    text-decoration: none;   
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-bar span{
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 12px;
    padding: 10px;
    color: #4f154b;
}
.logo{
    width: 70px;
    margin: 3px;
}
.section-1{
    background-image: url(./images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 45px);
    display: flex;
    padding-top: 15%;
    padding-left: 15%;
  
    
}
.search-box input{
    outline: none;
    border: none;
    width: 90%;
    transform: translateY(-2px);
}
.search-box{
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 3px;
    padding-left: 9px;
    border-color: #a6a6a6;
    width: 22.5%;
    display: flex;
    justify-content: space-between;
    
}
.search-box i{
    padding-right: 5px;
    color: #4e4e4e;
}
.sec-1-text{
    color: white;
    max-width: 380px;
}
.sec-1-text h1{
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 57px;
}
.sec-1-text h2{
    font-size: 29px;
}
.sec-1-text p{
    font-size: 12px;
}

.section-2{
    margin-left: 15%;
}
.sale-box-scroll{
    display: flex;
    overflow: auto;

}
.sale-box-1{
    width: 415px;
    height: 255px;
    border-radius: 35px;
    padding: 25px;
    margin-right: 40px;
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
    overflow: hidden;
    position:relative;
    flex-shrink: 0;
}
.sale-box-1 img{
    position:absolute;
    top:8px;
    right: 16px;
    width: 50%;
}
.sale-box-1-violet{
    position: absolute;
    width: 45%;
    height: 85%;
    display:flex;
    padding:7%;
    justify-content:center;
    flex-direction:column;
    background-color: rgba(149,118,212,0.8);
    border-radius: 28px;
    color: white;
    z-index: 3;
    
}
.sale-box-1-violet p{
    font-size: 9.5px;
    line-height: 14px;
    margin-bottom: 10px;
    font-weight: 300;
    margin: 19px 0;
}
.trailer-button{
    font-size: 10px;
    border: solid;
    border-radius: 30px;
    border-width: 1px;
    height: 25px;
    display:flex;
    align-items: center;
    justify-content:space-between;
}